Repository getaccounter/accounter: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-web, typecheck-server

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/prettier/prettier
    rev: "2.1.2"
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: "v5.6.4"
    hooks:
      - id: isort

  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.8.4"
    hooks:
      - id: flake8
        args: ["--config=server/setup.cfg"]

  - repo: local
    hooks:
      - id: typecheck-web
        name: typecheck-web
        entry: docker-compose run --no-deps --entrypoint /usr/bin/env web npm run typecheck
        language: system
        pass_filenames: false
        files: web
        # push does not work at the moment for some reason
        # stages: [push]
        
      - id: typecheck-server
        name: typecheck-server
        entry: docker-compose run --no-deps --entrypoint /usr/bin/env server pyright
        language: system
        pass_filenames: false
        files: server
        # push does not work at the moment for some reason
        # stages: [push]

refactor notifications
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/Root.test.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/contexts/notification/components/Notifications/Notifications.tsx
  web/src/contexts/notification/components/Notifications/index.tsx
  web/src/contexts/notification/index.tsx
  web/src/contexts/notification/notification.test.tsx
Due: typecheck-web

login refactor
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
Due: typecheck-web

recator oauth endpoint
  server/accounter/integrations/schemas/__init__.py
  server/accounter/integrations/tests.py
  server/accounter/schema.py
  web/src/components/OAuthSlackCallback/index.tsx
Due: typecheck-web, typecheck-server

minor refactor
  web/src/components/Main/components/Services/components/ServiceRow/ServiceRow.tsx
Due: typecheck-web

Add signup page
  e2e-tests/cypress/support/commands.js
  e2e-tests/package-lock.json
  e2e-tests/package.json
  e2e-tests/tests/app.test.js
  server/accounter/organizations/schemas.py
  server/accounter/organizations/tests.py
  server/accounter/utils.py
  web/package-lock.json
  web/package.json
  web/src/Root.tsx
  web/src/components/Login/index.tsx
  web/src/components/Signup/Signup.tsx
  web/src/components/Signup/index.tsx
Due: typecheck-web, typecheck-server

some refactoring
  server/accounter/integrations/models.py
  server/accounter/integrations/schemas.py
  server/accounter/integrations/schemas/__init__.py
  server/accounter/integrations/schemas/slack.py
  server/accounter/integrations/tests.py
  server/accounter/schema.py
  server/accounter/users/schemas.py
  server/accounter/utils.py
  web/src/contexts/auth.mocks.ts
  web/src/contexts/auth.test.tsx
  web/src/contexts/auth.tsx
Due: typecheck-web, typecheck-server

fix services
  web/src/components/Main/components/Services/Services.mocks.ts
  web/src/components/Main/components/Services/components/AddMoreServices/AddMoreServices.tsx
Due: typecheck-web

add integrations
  docker-compose.yml
  e2e-tests/cypress.json
  e2e-tests/cypress/support/commands.js
  e2e-tests/package-lock.json
  e2e-tests/package.json
  e2e-tests/tests/app.test.js
  server/docker-entrypoint.sh
  server/mockserver.crt
  web/Dockerfile
  web/src/components/Main/components/Content.tsx
  web/src/components/Main/components/Services/Services.tsx
  web/src/components/Main/components/Services/components/AddMoreServices/AddMoreServices.tsx
  web/src/components/Main/components/Services/components/Integrations/Integrations.tsx
  web/src/components/Main/components/Services/components/Integrations/index.ts
  web/src/components/Main/components/Services/components/ServiceRow/ServiceRow.tsx
  web/src/components/OAuthSlackCallback/index.tsx
Due: typecheck-web, typecheck-server

Add mock user row
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  server/cloudrun.template.yaml
  web/src/components/Main/components/Users.tsx
  web/src/components/Main/components/Users/Users.tsx
  web/src/components/Main/components/Users/components/UserTable/UserTable.tsx
  web/src/components/Main/components/Users/components/UserTable/index.ts
  web/src/components/Main/components/Users/index.ts
Due: typecheck-web, typecheck-server

add organization query
  server/accounter/integrations/tests.py
  server/accounter/organizations/schemas.py
  server/accounter/organizations/tests.py
  server/accounter/schema.py
Due: typecheck-server

make more things required
  server/accounter/integrations/schemas.py
  server/accounter/organizations/schemas.py
  server/accounter/users/schemas.py
Due: typecheck-server

add profiles to organization api
  server/accounter/organizations/migrations/0002_auto_20201230_1341.py
  server/accounter/organizations/models.py
  server/accounter/organizations/schemas.py
  server/accounter/organizations/tests.py
Due: typecheck-server

use remote state for terraform
  main.tf
Due: none

add DB
  .github/workflows/ci.yml
  main.tf
Due: none

fix
  .github/workflows/ci.yml
  main.tf
Due: none

Add docker registry
  main.tf
Due: none

Replace google cloud with DO
  .github/workflows/ci.yml
Due: none

remove google configs
  loadbalancer/cloudrun.template.yaml
  server/cloudrun.template.yaml
  web/cloudrun.template.yaml
Due: typecheck-web, typecheck-server

Update ci.yml
  .github/workflows/ci.yml
Due: none

upgrade DO registry to basic
  main.tf
Due: none

add k8s configs
  database/k8s.yaml
  loadbalancer/k8s.yaml
  server/k8s.yaml
  skaffold.yaml
  web/k8s.yml
Due: typecheck-web, typecheck-server

deploy cluster
  .github/workflows/ci.yml
  database/k8s.yaml
  k8s/registry-secret.yaml
  loadbalancer/k8s.yaml
  server/k8s.yaml
  skaffold.yaml
  web/k8s.yml
Due: typecheck-web, typecheck-server

fix
  server/k8s.yaml
  web/k8s.yml
Due: typecheck-web, typecheck-server

fix
  .github/workflows/ci.yml
  skaffold.yaml
Due: none

restrict db access
  main.tf
Due: none

fix skaffold in prod
  skaffold.yaml
Due: none

cleanup ci pipeline
  .github/workflows/ci.yml
Due: none

connect k8s to DB
  database/dev/helm/.helmignore
  database/dev/helm/Chart.yaml
  database/dev/helm/charts/app-0.0.0.tgz
  database/dev/helm/templates/deployment.yaml
  database/dev/helm/templates/service.yaml
  database/dev/helm/values.yaml
  database/helm/Chart.lock
  database/prod/helm/.helmignore
  database/prod/helm/Chart.yaml
  database/prod/helm/charts/app-0.0.0.tgz
  database/prod/helm/templates/service.yaml
  loadbalancer/helm/charts/app-0.0.0.tgz
  loadbalancer/helm/templates/service.yaml
  server/helm/charts/app-0.0.0.tgz
  skaffold.yaml
  web/helm/charts/app-0.0.0.tgz
Due: typecheck-web, typecheck-server

Split dockerfiles
  .github/workflows/ci.yml
  docker-compose.production.yml
  docker-compose.yml
  server/Dockerfile
  server/Dockerfile.production
  server/config/settings.py
  web/Dockerfile
  web/Dockerfile.production
  web/tsconfig.json
Due: typecheck-web, typecheck-server

add dev and prod profile to skaffold
  database/dev/helm/charts/app-0.0.0.tgz
  database/prod/helm/charts/app-0.0.0.tgz
  loadbalancer/helm/charts/app-0.0.0.tgz
  server/helm/charts/app-0.0.0.tgz
  skaffold.yaml
  web/helm/charts/app-0.0.0.tgz
Due: typecheck-web, typecheck-server

connect k8s to DB
  .github/workflows/ci.yml
  .gitignore
  database/dev/helm/Chart.lock
  k8s/README.md
  k8s/database-credentials.yaml
  k8s/registry-secret.yaml
  server/config/settings.py
  server/helm/templates/deployment.yaml
  skaffold.yaml
Due: typecheck-server

fix prod k8s
  server/helm/templates/deployment.yaml
Due: typecheck-server

fix skaffold in dev
  docker-compose.production.yml
  docker-compose.yml
  server/config/settings.py
Due: typecheck-server

set exposed port to 8080
  loadbalancer/helm/templates/service.yaml
Due: none

move CI to k8s
  .github/workflows/ci.yml
  docker-compose.production.yml
  docker-compose.qa.yml
  docker-compose.yml
  e2e-tests/docker-entrypoint.sh
  e2e-tests/tests/app.test.js
  mockserver/helm/.helmignore
  mockserver/helm/Chart.lock
  mockserver/helm/Chart.yaml
  mockserver/helm/templates/deployment.yaml
  mockserver/helm/templates/service.yaml
  mockserver/helm/values.yaml
  server/Dockerfile
  server/helm/templates/deployment.yaml
  skaffold.yaml
Due: typecheck-server
