Repository getaccounter/accounter: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-web, typecheck-server

typecheck-web:
  name: typecheck-web
  entry: docker-compose run --no-deps --entrypoint /usr/bin/env web npm run typecheck
  language: system
  pass_filenames: false

typecheck-server:
  name: typecheck-server
  entry: docker-compose run --no-deps --entrypoint /usr/bin/env server pyright
  language: system
  pass_filenames: false

add services and users page
  e2e-tests/cypress/support/commands.js
  e2e-tests/tests/app.test.js
  web/package.json
  web/src/App.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Main/Main.test.tsx
  web/src/components/Main/components/Content.tsx
  web/src/components/Main/components/Header.tsx
  web/src/components/Main/components/NavBar/components/Logo.tsx
  web/src/components/Main/components/NavBar/components/MobileDropdownButton/index.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/components/MobileProfileEntry.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/index.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileTab.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/index.tsx
  web/src/components/Main/components/NavBar/components/ProfileDropdown/components/Menu.tsx
  web/src/components/Main/components/NavBar/components/ProfileDropdown/index.tsx
  web/src/components/Main/components/NavBar/components/Tabs/components/Tab.tsx
  web/src/components/Main/components/NavBar/components/Tabs/index.tsx
  web/src/components/Main/components/NavBar/index.tsx
  web/src/components/Main/components/Services.tsx
  web/src/components/Main/components/Users.tsx
  web/src/components/Main/index.tsx
  web/src/components/NewApp/index.tsx
  web/src/components/ProtectedRoute.tsx
Due: typecheck-web

Add user info to auth request's response
  server/accounter/schema.py
  server/accounter/users/__init__.py
  server/accounter/users/admin.py
  server/accounter/users/apps.py
  server/accounter/users/migrations/__init__.py
  server/accounter/users/models.py
  server/accounter/users/schemas.py
  server/accounter/users/tests.py
  server/config/settings.py
Due: typecheck-server

Add market place tab
  web/src/components/Main/components/NavBar/index.tsx
  web/src/components/Main/index.tsx
Due: typecheck-web

Update README.md
  README.md
Due: none

Add layout to marketplace page
  web/src/components/Main/Main.test.tsx
  web/src/components/Main/components/Marketplace.tsx
  web/src/components/Main/index.tsx
Due: typecheck-web

remove marketplace
  web/src/components/Main/components/Marketplace.tsx
  web/src/components/Main/index.tsx
Due: typecheck-web

Update tailwindcss
  e2e-tests/docker-entrypoint.sh
  loadbalancer/docker-entrypoint.sh
  web/package-lock.json
  web/package.json
  web/tailwind.config.js
Due: typecheck-web

fix tests
  web/src/components/Main/Main.test.tsx
Due: typecheck-web

remove postcss
  web/package-lock.json
  web/package.json
Due: typecheck-web

Add some more stuff to services
  package-lock.json
  web/src/components/Main/components/Content.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/components/MobileProfileEntry.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/index.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileTab.tsx
  web/src/components/Main/components/NavBar/components/MobileMenu/index.tsx
  web/src/components/Main/components/NavBar/components/ProfileDropdown/components/Menu.tsx
  web/src/components/Main/components/NavBar/components/ProfileDropdown/index.tsx
  web/src/components/Main/components/NavBar/components/Tabs/index.tsx
  web/src/components/Main/components/NavBar/index.tsx
  web/src/components/Main/components/Services.tsx
  web/src/components/Main/components/Services/components/ServiceTable/index.tsx
  web/src/components/Main/components/Services/index.tsx
  web/src/components/Main/components/Users.tsx
  web/src/components/Main/index.tsx
  web/src/tailwind.css
Due: typecheck-web

minor refactor
  web/src/components/Main/components/Services/components/ServiceTable/components/AddButton.tsx
  web/src/components/Main/components/Services/components/ServiceTable/components/ChevronRightIcon.tsx
  web/src/components/Main/components/Services/components/ServiceTable/components/SlackLogo.tsx
  web/src/components/Main/components/Services/components/ServiceTable/index.tsx
Due: typecheck-web

update gcloud hooks
  .github/workflows/ci.yml
Due: none

fix google hook versions
  .github/workflows/ci.yml
Due: none

Add service model
  .github/workflows/ci.yml
  loadbalancer/nginx.conf.template
  server/accounter/integrations/admin.py
  server/accounter/integrations/migrations/0003_auto_20201122_2056.py
  server/accounter/integrations/migrations/0004_auto_20201122_2203.py
  server/accounter/integrations/migrations/0005_auto_20201122_2229.py
  server/accounter/integrations/models.py
  server/accounter/integrations/schemas/__init__.py
  server/accounter/schema.py
  server/accounter/urls.py
  server/accounter/users/admin.py
  server/config/settings.py
  server/requirements/base.txt
Due: typecheck-server

remove noFallthroughCasesInSwitch from TS
  web/tsconfig.json
Due: typecheck-web

add prettier hook plugins
  .pre-commit-config.yaml
Due: none

fetch services from FE
  package-lock.json
  server/accounter/schema.py
  web/src/components/Main/Main.test.tsx
  web/src/components/Main/components/Services/Services.test.tsx
  web/src/components/Main/components/Services/components/ServiceTable/components/ServiceLogo.tsx
  web/src/components/Main/components/Services/components/ServiceTable/components/SlackLogo.tsx
  web/src/components/Main/components/Services/components/ServiceTable/index.tsx
  web/src/components/OAuthSlackCallback/index.tsx
  web/tsconfig.json
Due: typecheck-web, typecheck-server

Create CODEOWNERS
  CODEOWNERS
Due: none

ignore eslintcache
  web/.gitignore
Due: typecheck-web

Add some more tests
  package-lock.json
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/Root.test.tsx
  web/src/Root.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/components/Main/components/Services/Services.mocks.ts
  web/src/components/Main/components/Services/Services.test.tsx
  web/src/components/Main/components/Services/Services.tsx
  web/src/components/Main/components/Services/index.tsx
  web/src/contexts/auth.mocks.ts
  web/src/contexts/auth.test.tsx
  web/src/contexts/auth.tsx
Due: typecheck-web

chore: ignore mocks coverag
  web/package.json
Due: typecheck-web

add first server unit test
  .github/workflows/ci.yml
  server/accounter/integrations/tests.py
  server/accounter/urls.py
  server/requirements/development.txt
  web/src/config.ts
Due: typecheck-web, typecheck-server

add first server unit test
  .github/workflows/ci.yml
Due: none

improve tests
  server/accounter/integrations/tests.py
Due: typecheck-server

improve testing
  server/accounter/integrations/tests.py
  server/accounter/schema.py
Due: typecheck-server

use cookies for auth
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/Login/index.tsx
  web/src/utils/csrf.ts
Due: typecheck-web

improve data model
  server/accounter/integrations/migrations/0001_initial.py
  server/accounter/integrations/migrations/0002_auto_20201115_1740.py
  server/accounter/integrations/migrations/0003_auto_20201122_2056.py
  server/accounter/integrations/migrations/0004_auto_20201122_2203.py
  server/accounter/integrations/migrations/0005_auto_20201122_2229.py
  server/accounter/integrations/models.py
  server/accounter/organizations/migrations/0001_initial.py
  server/accounter/organizations/models.py
  server/accounter/urls.py
Due: typecheck-server

WIP
  server/accounter/integrations/models.py
  server/accounter/integrations/tests.py
Due: typecheck-server

add baker for server tests
  server/accounter/integrations/tests.py
  server/requirements/development.txt
Due: typecheck-server

Add data migration for slack service
  server/accounter/integrations/migrations/0002_add_slack_service.py
  server/accounter/integrations/migrations/0002_add_slack_service_slack_logo.svg
Due: typecheck-server

Slack can be added via UI
  server/accounter/integrations/models.py
  server/accounter/integrations/schemas/__init__.py
  web/src/Root.test.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/components/Main/components/Services/Services.mocks.ts
  web/src/components/Main/components/Services/Services.tsx
  web/src/components/Main/components/Services/components/AddMoreServices/AddMoreServices.tsx
  web/src/components/Main/components/Services/components/AddMoreServices/index.ts
  web/src/components/Main/components/Services/components/ServiceRow/ServiceRow.tsx
  web/src/components/Main/components/Services/components/ServiceRow/components/AddButton.tsx
  web/src/components/Main/components/Services/components/ServiceRow/components/ChevronRightIcon.tsx
  web/src/components/Main/components/Services/components/ServiceRow/components/ServiceLogo.tsx
  web/src/components/Main/components/Services/components/ServiceRow/index.ts
  web/src/components/Main/components/Services/components/ServiceTable/index.tsx
  web/src/components/ProtectedRoute.tsx
  web/src/contexts/auth.mocks.ts
  web/src/contexts/auth.test.tsx
  web/src/contexts/auth.tsx
Due: typecheck-web, typecheck-server

automaticly commit changes files by hooks
  .pre-commit-config.yaml
Due: none

fix backend tests
  server/accounter/integrations/tests.py
Due: typecheck-server

add signup endpoint
  server/accounter/organizations/schemas.py
  server/accounter/organizations/tests.py
  server/accounter/schema.py
  server/accounter/users/schemas.py
Due: typecheck-server

wip: put oauth things to db
  server/accounter/integrations/migrations/0003_add_hstore_to_services.py
  server/accounter/integrations/migrations/0004_service_data.py
  server/accounter/integrations/migrations/0005_auto_20201129_0903.py
  server/accounter/integrations/migrations/0006_slackintegration_token.py
  server/accounter/integrations/models.py
  server/accounter/integrations/schemas/slack.py
  server/accounter/integrations/tests.py
  server/accounter/integrations/utils/oauth.py
  server/accounter/schema.py
  server/config/settings.py
  web/src/Root.tsx
  web/src/components/OAuthSlackCallback/index.tsx
  web/src/contexts/auth.tsx
Due: typecheck-web, typecheck-server

minor refactor
  server/accounter/integrations/tests.py
Due: typecheck-server

add nice looking login page
  .github/workflows/ci.yml
  e2e-tests/cypress/support/commands.js
  e2e-tests/tests/app.test.js
  server/docker-entrypoint.sh
  web/.gitignore
  web/Dockerfile
  web/dev-setup.sh
  web/docker-entrypoint.sh
  web/package-lock.json
  web/package.json
  web/src/Root.test.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/components/LockIcon.tsx
  web/src/components/Login/index.tsx
  web/src/components/Main/Main.test.tsx
  web/src/components/Notifications/Notifications.tsx
  web/src/components/Notifications/index.tsx
  web/tailwind.config.js
Due: typecheck-web, typecheck-server

replace custom icons with lib
  web/src/components/Login/components/LockIcon.tsx
  web/src/components/Login/index.tsx
  web/src/components/Main/components/Services/components/ServiceRow/ServiceRow.tsx
  web/src/components/Main/components/Services/components/ServiceRow/components/AddButton.tsx
  web/src/components/Main/components/Services/components/ServiceRow/components/ChevronRightIcon.tsx
Due: typecheck-web

Replace jwt with sessions
  .vscode/settings.json
  server/accounter/integrations/schemas/slack.py
  server/accounter/integrations/tests.py
  server/accounter/organizations/tests.py
  server/accounter/schema.py
  server/accounter/urls.py
  server/accounter/users/schemas.py
  server/accounter/utils.py
  server/config/settings.py
  server/requirements/base.txt
  web/src/App.tsx
  web/src/Root.test.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/components/ProtectedRoute.tsx
  web/src/contexts/auth.mocks.ts
  web/src/contexts/auth.test.tsx
  web/src/contexts/auth.tsx
  web/src/utils/csrf.ts
Due: typecheck-web, typecheck-server

Path conditions:
  typecheck-web: any of: web
  typecheck-server: any of: server
