Repository getaccounter/accounter: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-web, typecheck-server

typecheck-web:
  name: typecheck-web
  entry: docker-compose run --no-deps --entrypoint /usr/bin/env web npm run typecheck
  language: system
  pass_filenames: false

typecheck-server:
  name: typecheck-server
  entry: docker-compose run --no-deps --entrypoint /usr/bin/env server pyright
  language: system
  pass_filenames: false

cleanup
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  accounter/loadbalancer/cert-issuer.yaml
  accounter/server/accounter/integrations/migrations/0002_add_slack_service.py
  accounter/server/accounter/integrations/migrations/0004_service_data.py
  accounter/server/accounter/integrations/migrations/0005_auto_20201129_0903.py
  accounter/server/accounter/integrations/migrations/0006_slackintegration_token.py
  accounter/server/config/settings.py
  accounter/web/src/components/Main/components/Content.tsx
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/components/Services/index.tsx
  accounter/web/src/components/Main/components/Sidebar/components/Profile.tsx
  accounter/web/src/components/Main/components/Sidebar/components/Tab.tsx
  accounter/web/src/components/Main/components/Sidebar/index.tsx
  accounter/web/src/components/Main/index.tsx
  accounter/web/src/config.ts
  accounter/web/src/contexts/auth.mocks.ts
  accounter/web/src/utils/types.tsx
  accounter/web/tsconfig.json
  docker-compose.production.yml
  e2e-tests/cypress/plugins/index.js
Due: typecheck-web, typecheck-server

fix tests
  accounter/web/src/Root.test.tsx
  accounter/web/src/components/Main/Main.test.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Integrations/mocks.ts
  accounter/web/src/components/Main/components/Services/mocks.ts
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

fix lint
  accounter/web/src/components/Main/components/Content.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Sidebar/components/Profile.tsx
  accounter/web/src/components/Main/components/Users/index.tsx
Due: typecheck-web

fix server unit tests
  accounter/server/.env.example
  accounter/server/config/settings.py
  docker-compose.yml
Due: typecheck-server

S3 in prod
  accounter/loadbalancer/cert-issuer.yaml
  accounter/loadbalancer/docker-entrypoint.sh
  accounter/loadbalancer/nginx.conf.template
  accounter/loadbalancer/terraform/main.tf
  accounter/loadbalancer/terraform/variables.tf
  accounter/main.tf
  accounter/server/accounter/urls.py
  accounter/server/config/settings.py
  accounter/server/terraform/main.tf
  accounter/server/terraform/variables.tf
  accounter/variables.tf
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Services/index.tsx
  accounter/web/src/config.ts
  docker-compose.yml
Due: typecheck-web, typecheck-server

fix CI
  .github/workflows/ci.yml
Due: none

fix slack
  .github/workflows/ci.yml
  accounter/variables.tf
Due: none

fix db
  accounter/main.tf
  accounter/server/terraform/main.tf
  accounter/server/terraform/variables.tf
Due: typecheck-server

refa
  accounter/main.tf
  accounter/server/terraform/main.tf
  accounter/server/terraform/variables.tf
Due: typecheck-server

fixing things
  .github/workflows/ci.yml
  accounter/main.tf
  accounter/server/terraform/main.tf
  accounter/server/terraform/variables.tf
Due: typecheck-server

fix logos
  accounter/loadbalancer/docker-entrypoint.sh
  accounter/loadbalancer/nginx.conf.template
  accounter/server/accounter/integrations/schemas.py
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Services/index.tsx
  docker-compose.yml
Due: typecheck-web, typecheck-server

fix s3
  accounter/server/accounter/integrations/tests.py
  accounter/server/config/settings.py
  docker-compose.yml
Due: typecheck-server

Prevent duplicate integrations
  accounter/server/accounter/integrations/migrations/0007_auto_20210110_1810.py
  accounter/server/accounter/integrations/models.py
  accounter/server/accounter/integrations/schemas.py
  accounter/server/accounter/integrations/tests.py
Due: typecheck-server

refactor comps
  accounter/web/src/components/Main/components/Content/index.tsx
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/OldContent.tsx
  accounter/web/src/components/Main/components/SecondaryColumn/index.tsx
Due: typecheck-web

fix e2e tests
  e2e-tests/tests/app.test.js
Due: none

breaking up content
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Overview/index.tsx
Due: typecheck-web

fix slack credentials in prod
  accounter/server/terraform/main.tf
Due: typecheck-server

splitting comps
  accounter/web/src/components/Main/components/Overview/index.tsx
Due: typecheck-web

terraform cleanup
  accounter/loadbalancer/terraform/main.tf
  accounter/loadbalancer/terraform/variables.tf
  accounter/main.tf
Due: none

add relay
  .github/workflows/ci.yml
  accounter/server/Dockerfile
  accounter/server/docker-entrypoint.development.sh
  accounter/server/docker-entrypoint.sh
  accounter/server/schema.graphql
  accounter/web/.gitignore
  accounter/web/package-lock.json
  accounter/web/package.json
  accounter/web/relay.config.js
  accounter/web/schema.graphql
  accounter/web/src/App.tsx
  accounter/web/src/components/Main/Main.test.tsx
  accounter/web/src/components/Main/components/AddUsers/index.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Integrations/mocks.ts
  accounter/web/src/components/Main/index.tsx
  accounter/web/src/contexts/relay.tsx
  accounter/web/src/react-app-env.d.ts
  accounter/web/src/relay-env.ts
  docker-compose.yml
Due: typecheck-web, typecheck-server

add relay
  accounter/server/accounter/integrations/schemas.py
  accounter/server/accounter/schema.py
  accounter/server/schema.graphql
  accounter/web/src/components/Main/components/Integrations/index.tsx
  docker-compose.yml
Due: typecheck-web, typecheck-server

nidea
  accounter/web/Dockerfile
  docker-compose.yml
Due: typecheck-web

chown
  .github/workflows/ci.yml
  accounter/web/Dockerfile
Due: typecheck-web

update ci VM
  .github/workflows/ci.yml
Due: none

hail mary
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

remove mount
  docker-compose.yml
Due: none

test
  docker-compose.yml
Due: none

remove gitignpre
  .github/workflows/ci.yml
  accounter/web/.gitignore
  accounter/web/schema.graphql
Due: typecheck-web

liberal permissions
  accounter/web/schema.graphql
Due: typecheck-web

image
  .github/workflows/ci.yml
  accounter/web/Dockerfile
Due: typecheck-web

rever
  .github/workflows/ci.yml
  accounter/web/.gitignore
  accounter/web/Dockerfile
  accounter/web/schema.graphql
  docker-compose.yml
Due: typecheck-web

fix relay
  accounter/web/.gitignore
  accounter/web/package.json
  accounter/web/src/components/Main/components/Integrations/__generated__/IntegrationsQuery.graphql.ts
Due: typecheck-web

cleanup
  accounter/web/Dockerfile
Due: typecheck-web

cp schema to web in ci
  .github/workflows/ci.yml
Due: none

fix typecheck in ci
  accounter/web/package.json
Due: typecheck-web

dedup
  .github/workflows/ci.yml
  accounter/server/docker-entrypoint.development.sh
  accounter/server/schema.graphql
  accounter/web/.gitignore
  accounter/web/Dockerfile
  accounter/web/package.json
  accounter/web/relay.config.js
  accounter/web/shared-graphql/.gitignore
  docker-compose.yml
Due: typecheck-web, typecheck-server

fix tests
  accounter/server/accounter/integrations/tests.py
  e2e-tests/tests/app.test.js
Due: typecheck-server

more migration to relay
  accounter/server/accounter/schema.py
  accounter/web/src/Root.test.tsx
  accounter/web/src/components/Main/Main.test.tsx
  accounter/web/src/components/Main/components/Integrations/mocks.ts
  accounter/web/src/components/Main/components/Services/__generated__/ServicesQuery.graphql.ts
  accounter/web/src/components/Main/components/Services/index.tsx
  accounter/web/src/components/Main/components/Services/mocks.ts
Due: typecheck-web, typecheck-server

cleanup
  accounter/web/Dockerfile
  accounter/web/docker-entrypoint.sh
  accounter/web/package-lock.json
  accounter/web/package.json
Due: typecheck-web

Path conditions:
  typecheck-web: any of: web
  typecheck-server: any of: server
