Repository getaccounter/accounter: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-web, typecheck-server

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black

  - repo: https://github.com/prettier/prettier
    rev: "2.1.2"
    hooks:
      - id: prettier

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: "v5.6.4"
    hooks:
      - id: isort

  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.8.4"
    hooks:
      - id: flake8
        args: ["--config=server/setup.cfg"]

  - repo: local
    hooks:
      - id: typecheck-web
        name: typecheck-web
        entry: docker-compose run --no-deps --entrypoint /usr/bin/env web npm run typecheck
        language: system
        pass_filenames: false
        files: web
        # push does not work at the moment for some reason
        # stages: [push]
        
      - id: typecheck-server
        name: typecheck-server
        entry: docker-compose run --no-deps --entrypoint /usr/bin/env server pyright
        language: system
        pass_filenames: false
        files: server
        # push does not work at the moment for some reason
        # stages: [push]

remove typeright
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  server/Dockerfile
Due: typecheck-server

fix deployment
  skaffold.yaml
Due: none

add ingress
  .github/workflows/ci.yml
  loadbalancer/helm/Chart.lock
  loadbalancer/helm/Chart.yaml
  loadbalancer/helm/templates/ingress.yaml
Due: none

fix
  .github/workflows/ci.yml
Due: none

increase server waiting for db time
  server/docker-entrypoint.sh
Due: typecheck-server

reactivate e2e test
  e2e-tests/tests/app.test.js
Due: none

fix terraform dep
  main.tf
Due: none

move everything to TF
  .github/workflows/ci.yml
  provider/.terraform.lock.hcl
  provider/main.tf
Due: none

improve PR feedback
  .github/workflows/ci.yml
Due: none

soem fixes
  .github/workflows/ci.yml
  accounter/main.tf
  docker-compose.yml
  provider/main.tf
  server/config/settings.py
  server/docker-entrypoint.sh
Due: typecheck-server

deployment fix
  .github/workflows/ci.yml
Due: none

remove skaffold leftovers
  library-charts/app/.helmignore
  library-charts/app/Chart.yaml
  library-charts/app/templates/_deployment.yaml
  library-charts/app/templates/_service.yaml
  library-charts/app/templates/_util.yaml
  loadbalancer/Dockerfile
  loadbalancer/docker-entrypoint.sh
  loadbalancer/helm/.helmignore
  loadbalancer/helm/Chart.lock
  loadbalancer/helm/Chart.yaml
  loadbalancer/helm/values.yaml
  loadbalancer/nginx.conf.template
  loadbalancer/wait-for-it.sh
  skaffold.yaml
Due: none

split up terraform in basic parts
  accounter/main.tf
  accounter/output.tf
  accounter/variables.tf
  provider/main.tf
  provider/output.tf
  provider/variables.tf
Due: none

fix
  loadbalancer/Dockerfile
  loadbalancer/docker-entrypoint.sh
  loadbalancer/nginx.conf.template
  loadbalancer/wait-for-it.sh
Due: none

factor out loadbalancer tf
  accounter/loadbalancer/Dockerfile
  accounter/loadbalancer/docker-entrypoint.sh
  accounter/loadbalancer/nginx.conf.template
  accounter/loadbalancer/terraform/main.tf
  accounter/loadbalancer/terraform/output.tf
  accounter/loadbalancer/terraform/variables.tf
  accounter/loadbalancer/wait-for-it.sh
  accounter/main.tf
  docker-compose.yml
Due: none

formatting
  accounter/loadbalancer/terraform/main.tf
  accounter/main.tf
Due: none

remove loadbalancer
  accounter/loadbalancer/terraform/main.tf
Due: none

fix https
  accounter/.terraform.lock.hcl
  accounter/loadbalancer/cert-issuer.yaml
  accounter/loadbalancer/terraform/main.tf
  accounter/loadbalancer/terraform/output.tf
  accounter/loadbalancer/terraform/variables.tf
  accounter/main.tf
Due: none

WIP
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

split Sidebar
  accounter/web/src/components/Main/components/Content.tsx
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/components/Services/Services.tsx
  accounter/web/src/components/Main/components/Sidebar/index.tsx
  accounter/web/src/components/Main/components/Users/Users.tsx
  accounter/web/src/components/Main/components/_Content.tsx
  accounter/web/src/components/Main/index.tsx
  accounter/web/tailwind.config.js
Due: typecheck-web

break up sidebar
  accounter/.terraform.lock.hcl
  accounter/loadbalancer/cert-issuer.yaml
  accounter/loadbalancer/terraform/main.tf
  accounter/loadbalancer/terraform/output.tf
  accounter/loadbalancer/terraform/variables.tf
  accounter/main.tf
Due: none

break up sidebar
  accounter/web/src/components/Main/components/Sidebar/components/MenuItem.tsx
  accounter/web/src/components/Main/components/Sidebar/components/Profile.tsx
  accounter/web/src/components/Main/components/Sidebar/index.tsx
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

setting up directory
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

some sidebar fixes
  accounter/web/src/components/Main/components/Sidebar/components/MenuItem.tsx
Due: typecheck-web

some more adjustments
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

stuff
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

fix pages
  accounter/web/src/components/Main/components/Sidebar/components/Tab.tsx
  accounter/web/src/components/Main/components/Sidebar/index.tsx
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

directory refa
  accounter/web/src/components/Main/components/Directory/index.tsx
Due: typecheck-web

poc a poc
  accounter/web/src/Root.test.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/_Services/Services.mocks.ts
  accounter/web/src/components/Main/components/_Services/Services.test.tsx
  accounter/web/src/components/Main/components/_Services/Services.tsx
  accounter/web/src/components/Main/components/_Services/components/AddMoreServices/AddMoreServices.tsx
  accounter/web/src/components/Main/components/_Services/components/AddMoreServices/index.ts
  accounter/web/src/components/Main/components/_Services/components/Integrations/Integrations.tsx
  accounter/web/src/components/Main/components/_Services/components/Integrations/index.ts
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/ServiceRow.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/components/AddButton.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/components/ServiceLogo.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/index.ts
  accounter/web/src/components/Main/components/_Services/components/ServiceTable/index.tsx
  accounter/web/src/components/Main/components/_Services/index.tsx
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

more stuff
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Sidebar/index.tsx
  accounter/web/src/components/Main/components/Users/index.tsx
  accounter/web/src/components/Main/components/_Users/Users.tsx
  accounter/web/src/components/Main/components/_Users/components/UserTable/UserTable.tsx
  accounter/web/src/components/Main/components/_Users/components/UserTable/index.ts
  accounter/web/src/components/Main/components/_Users/index.ts
  accounter/web/src/components/Main/index.tsx
Due: typecheck-web

WIP
  accounter/web/src/components/Loading.tsx
  accounter/web/src/components/Main/components/Directory/index.tsx
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/Users/index.tsx
  accounter/web/src/components/ProtectedRoute.tsx
  accounter/web/src/utils/types.tsx
  accounter/web/tailwind.config.js
Due: typecheck-web

tailwind fix
  accounter/server/schema.graphql
  accounter/web/schema.graphql
  accounter/web/tailwind.config.js
Due: typecheck-web, typecheck-server

save assets in s3
  accounter/server/.env.example
  accounter/server/accounter/integrations/migrations/0002_add_slack_service.py
  accounter/server/config/settings.py
  accounter/server/requirements/base.txt
  accounter/web/src/components/Main/components/Integrations/index.tsx
  docker-compose.yml
Due: typecheck-web, typecheck-server

add integrations
  accounter/server/config/settings.py
  accounter/web/package-lock.json
  accounter/web/package.json
  accounter/web/src/components/Main/components/Integrations/index.tsx
  accounter/web/src/components/Main/components/NavBar/components/Logo.tsx
  accounter/web/src/components/Main/components/NavBar/components/MobileDropdownButton/index.tsx
  accounter/web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/components/MobileProfileEntry.tsx
  accounter/web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileProfile/index.tsx
  accounter/web/src/components/Main/components/NavBar/components/MobileMenu/components/MobileTab.tsx
  accounter/web/src/components/Main/components/NavBar/components/MobileMenu/index.tsx
  accounter/web/src/components/Main/components/NavBar/components/ProfileDropdown/components/Menu.tsx
  accounter/web/src/components/Main/components/NavBar/components/ProfileDropdown/index.tsx
  accounter/web/src/components/Main/components/NavBar/components/Tabs/components/Tab.tsx
  accounter/web/src/components/Main/components/NavBar/components/Tabs/index.tsx
  accounter/web/src/components/Main/components/NavBar/index.tsx
  accounter/web/src/components/Main/components/Services/index.tsx
  accounter/web/src/components/Main/components/Users/index.tsx
  accounter/web/src/components/Main/components/_Content.tsx
  accounter/web/src/components/Main/components/_Services/Services.mocks.ts
  accounter/web/src/components/Main/components/_Services/Services.test.tsx
  accounter/web/src/components/Main/components/_Services/Services.tsx
  accounter/web/src/components/Main/components/_Services/components/AddMoreServices/AddMoreServices.tsx
  accounter/web/src/components/Main/components/_Services/components/AddMoreServices/index.ts
  accounter/web/src/components/Main/components/_Services/components/Integrations/Integrations.tsx
  accounter/web/src/components/Main/components/_Services/components/Integrations/index.ts
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/ServiceRow.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/components/AddButton.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/components/ServiceLogo.tsx
  accounter/web/src/components/Main/components/_Services/components/ServiceRow/index.ts
  accounter/web/src/components/Main/components/_Services/components/ServiceTable/index.tsx
  accounter/web/src/components/Main/components/_Services/index.tsx
  accounter/web/src/components/Main/components/_Users/Users.tsx
  accounter/web/src/components/Main/components/_Users/components/UserTable/UserTable.tsx
  accounter/web/src/components/Main/components/_Users/components/UserTable/index.ts
  accounter/web/src/components/Main/components/_Users/index.ts
  accounter/web/src/components/Main/index.tsx
  accounter/web/src/components/OAuthSlackCallback/index.tsx
  accounter/web/src/config.ts
Due: typecheck-web, typecheck-server

fix e2e
  accounter/web/src/components/Main/components/Services/index.tsx
  docker-compose.yml
  e2e-tests/cypress/support/commands.js
  e2e-tests/tests/app.test.js
Due: typecheck-web
