Repository getaccounter/accounter: changes, and which Codecov flags are due for each by the changed paths.
All: server, web

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
      server:
        target: auto
        flags:
          - server
      web:
        target: auto
        flags:
          - web
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: null
flags:
  server:
    paths:
      - server
    carryforward: false
  web:
    paths:
      - web
    carryforward: false

improve coverage reporting
  .github/workflows/ci.yml
  codecov.yml
Due: none

remove cache
  .github/workflows/ci.yml
Due: none

Improve CI time by running --no-deps
  .github/workflows/ci.yml
  e2e-tests/.gitignore
  e2e-tests/cypress/videos/app.test.js.mp4
Due: none

improve ci time by improving e2e tests
  .github/workflows/ci.yml
Due: none

improve ci time by upping containers firstwq
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

config coverage
  web/package.json
Due: web

dependabot update actions
  .github/dependabot.yml
Due: none

deploy app
  .github/workflows/ci.yml
  docker-compose.production.yml
  docker-compose.yml
Due: none

Deploy to ghcr
  .github/workflows/ci.yml
  docker-compose.production.yml
  docker-compose.yml
Due: none

cleanup workflow
  .github/workflows/ci.yml
Due: none

even nicer
  .github/workflows/ci.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

only push on master
  .github/workflows/ci.yml
Due: none

deploy to gcr
  .github/workflows/ci.yml
Due: none

make ports configurable
  docker-compose.yml
  server/Dockerfile
  web/Dockerfile
Due: server, web

Deploy code
  .github/workflows/ci.yml
  web/Dockerfile
Due: web

Update README.md
  README.md
Due: none

fix deployment to google
  .github/workflows/ci.yml
Due: none

Show coverage in readme
  README.md
Due: none

cleanup
  .github/workflows/ci.yml
Due: none

experiment
  .github/workflows/ci.yml
Due: none

add nginx
  .github/workflows/ci.yml
  docker-compose.yml
  nginx.conf
  web/Dockerfile
Due: web

Add eslintrc
  e2e-tests/.eslintrc.json
Due: none

Update precommiot hook
  .pre-commit-config.yaml
Due: none

fix eslinting for tests
  e2e-tests/.eslintrc.json
Due: none

Add tests for api route in nginx
  e2e-tests/tests/app.test.js
Due: none

add screenshots to ignore file
  e2e-tests/.dockerignore
  e2e-tests/.gitignore
  e2e-tests/tests/app.test.js
Due: none

Add production build for django
  docker-compose.production.yml
  docker-compose.yml
  server/Dockerfile
Due: server

add e2e tests for django
  e2e-tests/tests/app.test.js
  server/accounter/settings.py
Due: server

fix linting in CI
  server/Dockerfile
  server/requirement.development.txt
Due: server

Add deployment check
  .github/workflows/ci.yml
Due: none

fix server requirement files
  server/Dockerfile
  server/requirements/base.txt
  server/requirements/development.txt
Due: server

setup postgresql
  .github/workflows/ci.yml
  README.md
  docker-compose.yml
  server/Dockerfile
  server/accounter/settings.py
  server/db.sqlite3
  server/docker-entrypoint.sh
Due: server

deploy server
  .github/workflows/ci.yml
Due: none

Connect to cloud DB
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

use yml for cloudrun
  .github/workflows/ci.yml
  server/cloudrun.yaml
  web/cloudrun.yaml
Due: server, web

server waits for database
  .github/workflows/ci.yml
  server/docker-entrypoint.sh
  server/wait-for-it.sh
Due: server
