Repository getaccounter/accounter: changes, and which Codecov flags are due for each by the changed paths.
All: server, web

Add load balancer url to allowed hosts
  server/accounter/settings.py
Due: server

fix loadbalancer
  loadbalancer/nginx.conf.template
Due: none

another fix
  server/accounter/settings.py
Due: server

Add wait-on to all services
  docker-compose.yml
  loadbalancer/Dockerfile
  loadbalancer/cloudrun.yaml
  loadbalancer/docker-entrypoint.sh
  loadbalancer/nginx.conf.template
  loadbalancer/wait-for-it.sh
  server/docker-entrypoint.sh
  web/Dockerfile
  web/docker-entrypoint.sh
  web/wait-for-it.sh
Due: server, web

add proper linting hook
  .pre-commit-config.yaml
  web/.eslintrc.json
Due: web

add env vars to web
  loadbalancer/cloudrun.yaml
  server/cloudrun.yaml
  web/cloudrun.yaml
Due: server, web

trying to fix revision deployment
  .github/workflows/ci.yml
  loadbalancer/cloudrun.yaml
  server/cloudrun.yaml
  web/cloudrun.yaml
Due: server, web

fix
  .github/workflows/ci.yml
  loadbalancer/cloudrun.template.yaml
  server/cloudrun.template.yaml
  web/cloudrun.template.yaml
Due: server, web

experiment
  server/accounter/settings.py
  server/accounter/urls.py
  server/requirements/base.txt
Due: server

remove linting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  e2e-tests/tests/app.test.js
  server/accounter/settings.py
  server/accounter/urls.py
  server/requirements/development.txt
Due: server

experiment
  docker-compose.yml
  e2e-tests/Dockerfile
  e2e-tests/cypress/support/index.js
  e2e-tests/docker-entrypoint.sh
  e2e-tests/package-lock.json
  e2e-tests/tests/app.test.js
  e2e-tests/wait-for-it.sh
  loadbalancer/nginx.conf.template
  web/cloudrun.template.yaml
  web/docker-entrypoint.sh
Due: web

fix npm version
  web/Dockerfile
Due: web

remove pre-commit lang requirement
  .pre-commit-config.yaml
Due: none

fix serving of static django resources in nginx
  loadbalancer/nginx.conf.template
Due: none

replace drf with graphql
  e2e-tests/tests/app.test.js
  server/Dockerfile
  server/accounter/schema.py
  server/accounter/settings.py
  server/accounter/urls.py
  server/requirements/base.txt
Due: server

add flake8
  .pre-commit-config.yaml
Due: none

Add flake8 to ci
  .github/workflows/ci.yml
  README.md
  server/.flake8
  server/requirements/development.txt
Due: server

add isort
  .pre-commit-config.yaml
  server/accounter/schema.py
  server/accounter/settings.py
  server/accounter/urls.py
Due: server

lint web in ci
  .github/workflows/ci.yml
Due: none

add black friendly config for isort and flake8
  .pre-commit-config.yaml
  server/.flake8
  server/setup.cfg
Due: server

use new file structure
  server/Dockerfile
  server/config/__init__.py
  server/config/asgi.py
  server/config/settings.py
  server/config/urls.py
  server/config/wsgi.py
  server/manage.py
Due: server

split requirements
  server/Dockerfile
  server/requirements/development.txt
  server/requirements/production.txt
Due: server

fix tests
  web/tsconfig.json
Due: web

consume graphql endpoint from web
  e2e-tests/tests/app.test.js
  loadbalancer/nginx.conf.template
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/config.ts
  web/src/index.tsx
Due: web

add JWT to django
  server/accounter/schema.py
  server/config/settings.py
  server/config/urls.py
  server/docker-entrypoint.sh
  server/requirements/base.txt
Due: server

trying to fix google cloud run db connection
  server/Dockerfile
Due: server

Revert "trying to fix google cloud run db connection"
  server/Dockerfile
Due: server

reference DB in server cloud run template
  server/cloudrun.template.yaml
Due: server

trying to fix google cloud run db connection #2
  server/cloudrun.template.yaml
Due: server

trying to fix google cloud run db connection #3
  server/cloudrun.template.yaml
Due: server

refactor(server): move url back to app folder
  server/accounter/urls.py
  server/config/settings.py
Due: server

Add data models
  server/accounter/integrations/__init__.py
  server/accounter/integrations/admin.py
  server/accounter/integrations/apps.py
  server/accounter/integrations/migrations/0001_initial.py
  server/accounter/integrations/migrations/__init__.py
  server/accounter/integrations/models.py
  server/accounter/integrations/tests.py
  server/accounter/organizations/__init__.py
  server/accounter/organizations/admin.py
  server/accounter/organizations/apps.py
  server/accounter/organizations/migrations/0001_initial.py
  server/accounter/organizations/migrations/__init__.py
  server/accounter/organizations/models.py
  server/accounter/organizations/tests.py
  server/accounter/urls.py
  server/config/settings.py
Due: server

Add typechecking to server
  .github/workflows/ci.yml
  server/Dockerfile
  server/accounter/schema.py
Due: server

add typecheck hook
  .pre-commit-config.yaml
Due: none

add pyright hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

remove dependabot PR limit
  .github/dependabot.yml
Due: none

Add slack oauth flow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docker-compose.yml
  server/.env.example
  server/.gitignore
  server/accounter/integrations/migrations/0002_auto_20201115_1740.py
  server/accounter/integrations/models.py
  server/accounter/integrations/schemas/__init__.py
  server/accounter/integrations/schemas/slack.py
  server/accounter/integrations/utils/oauth.py
  server/accounter/organizations/models.py
  server/accounter/schema.py
  server/config/settings.py
  server/requirements/base.txt
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/components/OAuthSlackCallback/index.tsx
  web/src/logo.svg
Due: server, web

Update README.md
  README.md
Due: none

Update readme
  README.md
Due: none

Add basic UI
  .pre-commit-config.yaml
  e2e-tests/tests/app.test.js
  package-lock.json
  web/.gitignore
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/Login/Login.test.tsx
  web/src/components/Login/index.tsx
  web/src/components/NewApp/components/Content.tsx
  web/src/components/NewApp/components/Header.tsx
  web/src/components/NewApp/components/NavBar/components/Logo.tsx
  web/src/components/NewApp/components/NavBar/components/MobileDropdownButton/index.tsx
  web/src/components/NewApp/components/NavBar/components/MobileMenu/components/MobileProfile/components/MobileProfileEntry.tsx
  web/src/components/NewApp/components/NavBar/components/MobileMenu/components/MobileProfile/index.tsx
  web/src/components/NewApp/components/NavBar/components/MobileMenu/components/MobileTab.tsx
  web/src/components/NewApp/components/NavBar/components/MobileMenu/index.tsx
  web/src/components/NewApp/components/NavBar/components/ProfileDropdown/components/Menu.tsx
  web/src/components/NewApp/components/NavBar/components/ProfileDropdown/index.tsx
  web/src/components/NewApp/components/NavBar/components/Tabs/components/Tab.tsx
  web/src/components/NewApp/components/NavBar/components/Tabs/index.tsx
  web/src/components/NewApp/components/NavBar/index.tsx
  web/src/components/NewApp/index.tsx
  web/src/components/OAuthSlackCallback/index.tsx
  web/src/components/ProtectedRoute.tsx
  web/src/contexts/auth.tsx
  web/src/index.css
  web/src/index.tsx
  web/src/tailwind.css
  web/tailwind.config.js
Due: web

Path conditions:
  server: any of: server
  web: any of: web
